<table border="2">
<tr>
 <th>firstname </th>
 <th>lastname</th>
 <th> email</th>
 
 </tr>
 <% @user.each do |b|%>
 <tr>
 
<td><%= b.firstname %></td>
<td><%= b.lastname %></td>
<td><%= b.email %></td>


<td><%= link_to 'show profile', user_show_path(b) %></td>
<td><%= link_to 'destroy', user_destroy_path(b), method: :delete,
data: {
confirm: 'Are you sure?'
	} %></td>

</tr>
<% end%>
</table>
